<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigos Falsos - Inicio de Sesión</title>
    <link rel="stylesheet" href="/css/CSSlogin.css"> 
</head>
<body>

    <div class="form-container">
        <h1>Iniciar Sesion</h1>
        
        <form id="loginForm">
            <div class="input-group">
                <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" required>
            </div>
            <div class="input-group">
                <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
            </div>

            <div class="link-group">
                <a href="registro.html" class="register-link">Registrar usuario</a>
            </div>
            
            <button type="submit" class="btn-submit">Iniciar Sesion</button>
        </form>
    </div>

    <!-- JS -->
    <script src="/static/js/login.js"></script>
</body>
</html>