.tarjeta {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    position: relative; /* Para posicionar los botones de acción */
}

.tarjeta-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.tarjeta-body p {
    margin: 0;
    color: #555;
}

.tarjeta-acciones {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
}

.btn-accion {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Tamaño del icono/emoji */
    margin-bottom: 10px;
    }